<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

{% if error %}
<p style="color:rgb(231, 31, 31);">{{ error }}</p>
{% endif %}

<form method="POST">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Register</button>
</form>

<p><a href="/login">Already have an account?</a></p>

</body>
</html>
